In [1]:
import pandas as pd                         
from pytrends.request import TrendReq
from deep_translator import GoogleTranslator
from trend_capturer import TrendCapturer

In [2]:
trendcapt = TrendCapturer(['ukraine', 'russia', 'united_states', 'germany', 'vietnam'])

In [3]:
raw_trends = trendcapt.main_searches()

In [4]:
raw_trends

                       searches  country
0               Kryvyi Rih news  ukraine
1                       Arsenal  ukraine
2            19 october holiday  ukraine
3                       Tigipko  ukraine
4   Dancing with the Stars show  ukraine
..                          ...      ...
95                           C1  vietnam
96                     Juventus  vietnam
97                 Colin Powell  vietnam
98             Champions League  vietnam
99    Boy missing in Binh Duong  vietnam

[100 rows x 2 columns]

In [5]:
trendcapt.searches_grouped(raw_trends)

              searches  counts
20    Champions League       6
25        Colin Powell       5
5                Apple       5
44          Kanye West       3
6              Arsenal       3
1   19 october holiday       2
27      Conor McGregor       2
43            Juventus       2
0   18 october holiday       2

In [6]:
trendcapt.main_searches_suggestions(raw_trends)

,title,type,country
0,Kryvorizʹka Misʹka Rada,"City government office in Kryvyi Rih, Ukraine",ukraine
1,Kryvyi Rih Botanical Gardens,"Botanical garden in Kryvyi Rih, Ukraine",ukraine
2,Dnipro Hydroelectric Power Plant 1569MW,"Hydroelectric power plant in Zaporizhia, Ukraine",ukraine
3,Oleksiy Khoblenko,Football forward,ukraine
4,Oleksandr Babych,Ukrainian football manager,ukraine
...,...,...,...
1,AFC Champions League,Football competition,vietnam
2,CAF Champions League,Football competition,vietnam
3,2021 UEFA Champions League Final,Tournament,vietnam
4,Concacaf Champions League,League,vietnam
99,Boy missing in Binh Duong,NaN,vietnam

In [7]:
trendcapt.grouped_main_searches_suggestions(trendcapt.main_searches_suggestions(raw_trends))

,title,type,counts
154,UEFA Champions League,Football competition,6
2,2021 UEFA Champions League Final,Tournament,6
3,AFC Champions League,Football competition,6
46,Concacaf Champions League,League,6
36,CAF Champions League,Football competition,6
49,Cozy Powell,English drummer,5
15,Applebee's,Topic,5
14,Apple,Topic,5
13,Apple,Technology company,5
12,Apple,Fruit,5
113,Michael Jackson,American singer-songwriter,5
42,Colin Powell,Former United States Secretary of State,5
43,Colin Powell Elementary School,"Elementary school in Grand Prairie, Texas",5
44,Colin Powell Elementary School,Topic,5
45,Colin Powell School for Civic And Global Leade...,"School in New York City, New York",5
76,Halloween,Celebration,4
121,Oktoberfest,Topic,4
86,If I Ain't Got You,Song by Alicia Keys,3
85,I Wonder,Kanye West song,3
168,Waves,Kanye West song,3
50,Cruel Summer,GOOD Music album,3
59,Detroit,City in Michigan,3
96,Juventus F.C.,Football club,3
19,Arsenal Fútbol Club,Football team,3
99,Kanye West,American rapper,3
18,Arsenal F.C.,Football club,3
16,Arsenal,Topic,3
17,Arsenal Capital Partners,Company,3
156,UFC 194: Aldo vs. McGregor,Event,2
47,Conor McGregor,Irish mixed martial artist,2
69,Floyd Mayweather Jr. vs. Conor McGregor,Sports event,2
133,STERLING HOLIDAY RESORTS,Company,2
9,Allianz Stadium,"Stadium in Turin, Italy",2
126,Pride and Prejudice,Novel by Jane Austen,2
98,Juventus F.C. under-23,Football club,2
48,Conor McGregor: Notorious,2017 film,2
157,UFC 205: Alvarez vs. McGregor,Event,2
78,Ho Chi Minh,Former President of Vietnam,2
162,Utenos Juventus,Basketball club,2
91,Jessie James Decker,American singer-songwriter,2
74,Gil Ofarim,German singer-songwriter,2
97,Juventus F.C. Women,Women,2